@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;500&display=swap');
* {background-color: #191919;}

.typewriter{
  font-family: 'Zen Kaku Gothic New';
  font-weight: 500;
  color: #eae0d5;
  font-size: 40px;
  text-align: center;
  border: 5px solid;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%;
  border-radius: 12.5px;

}

.link-container{
  display: flex;
  flex-direction: column;
}

a{
  color: inherit;
  text-decoration: none;
  border: 3px solid;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
  margin: 5%;
  border-radius: 12.5px;
}